.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  position: relative;




  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease all ;
  }
  &:hover{
     .image{
       opacity: 0.8;
       transition: 0.5s ease all ;
     } 

    .custom-button{
      display: flex;
      opacity: 0.85;
      transition: 0.5s ease all 
    }
    
   
  }

  .custom-button{
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 320px;
   
    transition: 0.5s ease all 
    
    
  }

  .collection-footer {
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 18px;
    // background-color: rgb(255, 249, 225);
    background-image: linear-gradient( #c3d5e7 0%,transparent 100%);
    overflow: hidden;

   
    .name {
      width: 80%;
      padding-left: 5px;
      margin-bottom: 15px;
      font-size: 30px;
    }

    .price {
      width: 20%;
      font-size: 30px;
      padding-left: 15px;
    }
  }
}