.sign-up{
    margin-left:70px ;
    width: 30vw;
    margin-top: 100px;
    padding: 10px;
    border-radius: 8px;
    

    
    span{
        font-size: 23px;
    }
    .title{
        margin: 10px;
    }
    .sign-up-form{
        .dontshowerror{
            display: none;
        }
        .showerror{
            color: red;
        }
    }
}