body{
    /* font-family: 'Open Sans Condensed'; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Indie Flower'; */
    
    /* font-family: 'Marck Script'; */
    /* font-family: 'Shadows Into Light Two'; */
    font-family: 'Oregano';
}
a{
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
}